langchain_community==0.0.31
langchain_openai==0.1.1
langchain_text_splitters==0.0.1
pandas==2.0.3
python-dotenv==1.0.1
weaviate_client==4.5.4
streamlit
PyPDF2
# pandas
# weaviate-client
# python-dotenv
openai


llama_index==0.10.19
numpy==1.24.4
transformers==4.38.2
psycopg2-binary>=2.9
llama-index-embeddings-huggingface==0.1.4